<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white">
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
        <header class="mt-2">
            <h3 class="float-md-start mb-0">RecipeBox</h3>
            <nav class="nav justify-content-evenly float-md-end flex-nowrap">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/recipes">Recipes</a>
                <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
            </nav>
        </header>

        <main class="mt-auto px-3">
            <h1 class="mb-3">RecipeBox</h1>
            <p class="lead mb-0">Cooking Together, Creating Memories</p>
            <p class="lead">A Platform to Share Your Best Recipes and Discover New Culinary Delights!</p>
            <a href="/recipes" class="btn btn-lg btn-light fw-bold rounded-4">View Recipes</a>
        </main>

        <footer class="mt-auto">
            <p>&copy; 2023 RecipeBox</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>