<% layout('layouts/boilerplate') %>
    <h1 class="text-center">Recipes</h1>
    <div class="text-center my-3">
        <a class="btn btn-primary" href="/recipes/new">Add Recipe</a>
    </div>
    <div class="mb-5">
        <ul class="px-0">
            <div class="row">
                <% for (let recipe of recipes) { %>
                    <div class="mb-3 col-xl-3 col-lg-4 col-md-6">
                        <div class="card h-100">
                            <img class="img-fluid" src="<%= recipe.images[0].url %>" alt="">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/recipes/<%= recipe._id %>"
                                        class="card-text link-dark link-underline link-underline-opacity-0">
                                        <%= recipe.name %>
                                    </a>
                                </h5>
                                <p class="card-text">
                                    <%= recipe.summary %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </ul>
    </div>